page-user-data {

    h3{
        text-align: left;
        margin-left: 14px;
    }

    .item.item-md .checkbox-md {
        position: static;
        display: block;
        margin: 9px 3px 9px 4px;
    };

    .label.label-md{
        p{
            font-size: 12px;
            text-align: justify;        }
    }

    .form-control {
        font-size: 1.8rem;
    }

    .custom-select {
        height: calc(2.25rem + 10px);
        font-size: 1.8rem;
    }
}
