<ion-content class="bg">
  <ion-grid>
    <ion-row>
      <ion-col col-sm-3 col-md-3 col-lg-4 col-xl-4>
        
      </ion-col>
      <ion-col col-10 col-sm-6 col-md-6 col-lg-4 col-xl-4>
        <ion-card *ngIf="image" class="presentacion">
          <div align="center">
            <img class="image-presentacion" src="{{image}}"/>
          </div>
          <ion-card-content>
            <ion-card-title *ngIf="n===0">
              Hi Student!, my name is Alex
              </ion-card-title>
            <p *ngIf="n===0">
              Bienvenido al programa de estudios de inglés, desarrollado por Tradustech.
            </p>
            <p *ngIf="n===1">
              Junto a mi amiga Maya recorreremos estas impresionantes islas, donde
              viviremos aventuras que te ayudarán a practicar el inglés de manera entretenida.
            </p>
            <p *ngIf="n===2">
              Antes de comenzar completa el siguiente formulario, el cual contiene información importante
              para el desarrollo de las clases.
            </p>
          </ion-card-content>
        </ion-card>
        <ion-row>
          <ion-col *ngIf="!nextbutton&&n!=2">
            <div align="center" class="lds-facebook"><div></div><div></div><div></div></div>
          </ion-col>
          <ion-col *ngIf="!nextbutton&&n===2">
            <div align="center" class="lds-facebook"><div></div><div></div><div></div></div>
          </ion-col>
          <ion-col *ngIf="backButton">
            <div align="center">
              <button ion-button (click)="back()">Back</button>
            </div>
          </ion-col>
          <ion-col *ngIf="nextbutton">
            <div align="center" *ngIf="nextbutton&&n!=2">
              <button ion-button (click)="next()">Next</button>
            </div>
            <div align="center" *ngIf="nextbutton&&n===2">
              <button ion-button (click)="form()">Form</button>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-sm-3 col-md-3 col-lg-4 col-xl-4>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
